html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.container {
  margin: auto;
  padding: 40px;
}

img{
  max-width: 100%;
  height: auto;
}
  body{ 
    font-family: Arvo;
    position: relative;
  }

  body{
    background-color: rgba( 233, 210, 172);
    background-image: url(../img/topography.svg);
    background-size: cover;
    background-repeat: inherit;
    margin: 0;
  }

  article.park{
    background-color: white;
    color: black;
    opacity: 1;
    position: absolute;
    margin-right: 2rem;
    padding-right: 1rem;
    border: 10px;
    border-style: dashed;
    border-color: #023020;
  }

  article.park figure{
    float: left;
    clear: right;
    display: flex;
    margin-left: 1rem;
    border-color: black;
    border: 5px;
    border-style: solid;
  }

  article.park h3{
    text-align: center;
  }
  header.primary{
    background-color: #023020;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
  } 

  header.primary h1 a{
    text-decoration: none;
    color: ivory;
  }

  header.primary nav ul{
    list-style: none;
    margin:0;
    padding: 0;
    display: flex;
    vertical-align: middle;
  }
  header.primary nav li{
    padding-left: 1rem;
    text-decoration: none;
  }

  header.primary nav a{
    text-decoration: none;
  }

  h2{
    text-align: center;
    font-family: "Permanent Marker", cursive;;
    font-size: 3rem;
    padding-bottom: 0px;
    margin-bottom: 0;
  }
