.nav ul {  
    list-style-type: none;
    padding: 0;
    
   }
  
  .nav li { 
    float: right;
    margin-right: 25px;
    }
  
  .nav li a { 
    font-size: 18px;
  }
  
  body{ 
    font-family: Arvo;
    position: relative;
  }
  
  .nav .active a { 
    background-color: white; 
  }
  .navbar { 
    background-color: lightblue;
  }
  
  .navbar-brand { 
    font-size: 25px;
  }
  
  body{
    background-color: rgba( 233, 210, 172);
    background-image: url(../img/topography.svg);
    background-size: cover;
    background-repeat: inherit;
  }

  article{
    background-color: white;
    color: black;
    opacity: 1;
  }

  header.primary{
    background-color: green;
  }