/* ------- Course Homepage Stylesheet ------- */

/* Type Selector */
body{
    background-color: teal;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Slab', serif;
}

/* ID selector */

#main-heading{
color: goldenrod;
font-size: 60px;
text-align: center;
}

/* Class Selector */

.primary{
    font-size: 25px;
    border: 2px solid #000000;
    padding: 10px;
    margin: 15px;
}

h2{
    color: ivory;
    margin: 9px;
    padding-left: 7px;
}
/* psuedo selector */

a:link, a:visited{
    color: ivory;
    text-decoration: none;
}

li{
    margin-bottom: 9px;
}

li::marker{
    color: ivory;
}